.table-custom{
  font-size: .8em;
}

.container-login{
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

.antrian{
  height: 400px;
}

.antrian > p{
  font-size: 10em;
  margin-top: 20%;
  text-align: center;
}

.antrian > small{
  position: absolute;
  bottom: 0;
}

.hidden{
  display: none;
}

.card-costume{
  height: 250px;
}